
@mixin flexrow-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; // align among main axix
  align-items: center; // align among cross axix
}

@mixin flexrow-container-left-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; // align among main axix
  align-items: flex-start; // align among cross axix
}

@mixin flexcolumn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; // align among main axix
  align-items: center; // align among cross axix
}

@mixin flexcolumn-container-left-top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start; // align among main axix
  align-items: flex-start; // align among cross axix
}

@mixin flexcolumn-container-left-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end; // align among main axix
  align-items: flex-start; // align among cross axix
}
