@import "../../../_sass/shared-core";


.#{$bemNs}-homepage {
  flex: 1;
  width: 100%;
  @include flexcolumn-container();

  h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  p {
    color: gray;
  }

  &-buttonswrap {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    text-align: center;
  }

  &-buttons {
    text-align: center;
    width: 100%;
  }

  &-roombutton {
    &.btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    width: 5em;
    margin-bottom: .5em;
  }
}