.foo-homepage {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .foo-homepage h2 {
    font-size: 1.3em;
    margin-bottom: 1em; }
  .foo-homepage p {
    color: gray; }
  .foo-homepage-buttonswrap {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    text-align: center; }
  .foo-homepage-buttons {
    text-align: center;
    width: 100%; }
  .foo-homepage-roombutton {
    width: 5em;
    margin-bottom: .5em; }
    .foo-homepage-roombutton.btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
